apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: build
namespace: test-sa
resources:
- ../base
#-  ./namespace.yaml
- ./mock-employees-api.yaml
- ./ingress-gateway.yaml
- ./virtual-service.yaml
- ./proxy-interceptor.yaml
- ./proxy-interceptor-svc.yaml
#- ./virtual-service-proxy.yaml


commonLabels:
  purpose: mock-microservice


