apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: build
namespace: test-ambassador
resources:
- ../base
- ./mock-employees-api.yaml
- ./route-application.yaml
- ./sidecar.yaml
- ./ingress-gateway.yaml
- ./virtual-service.yaml


patches:
  - path: proxy-interceptor.yaml
    target:
      kind: Deployment
      annotationSelector: "inject-proxy-traffic-interceptor=true"
      name: ".*"
#  - path: proxy-interceptor-port.yaml
#    target:
#      kind: Service
#      name: ".*"

commonLabels:
  purpose: mock-microservice


